/* font styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;  
}

/* header related styles */
header{
    background: rgba(255, 144, 14, 0.10);
}
.header-title{
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px;
}
nav > ul{
    display: flex;  
}
nav li{
    list-style: none;
    padding-right: 50px;
    }
nav a{
    text-decoration: none;
    color:#424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-right: 50px;
}
/* banner related style */
.banner-content{
   max-width: 800px;
    text-align: center;
    /* align-items: center; */
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    /* text-align: center; */
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color:#727272;
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.banner-images{
    text-align: center;
    width: 100%;

}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 70px;
    border: none;
    cursor: pointer;
}

/* main section related style */
/* features related style */
.features-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}
.features-images-container{
    margin-left: 300px;

}
.features-images{
    display: flex;
    gap: 15px;
}
/* I have a question */
.features-description-container{
    margin-left: 100px;
    /* padding: 50px; */
}
.features-title{
    color: #727272;
    font-size: 2.82rem;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 2.82rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 2.82rem;
    font-weight: 700;
}
.features-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    width: 70%;
}
 /* facts section styles */
 .facts-title{
    color: var(--dark-01, #131313);
    font-size: 2.82rem;
    font-weight: 700;
     margin-top: 168px;
     margin-left: 240px;
 }
 
 .facts-description{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin: 24px auto 100px 240px;
    /* margin-top: 24px;
    margin-left: 240px; */
    width: 27%;
 }
 .succes-container{
    display: flex;
    margin: 0px 250px;
    justify-content: space-around;
    gap: 40px;
 }
 .succes-images{
    border-radius: 8px;
    border: 1px solid #FF900E;
    /* justify-content: center;
    align-items: center; */
 }
 .facts-images{
    padding: 46px 98px 5px 98px;
 }
 .fact-card-stats{
    color: #424242;
    font-size: 2.82rem;
    font-weight: 600;
    padding: 0px 85px 5px 85px;
 }
 .stats-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0px 50px 59px;
 }
 /* sponser section styles */
    .sponsers{
        margin-top: 180px;
    }
    .sponser-content{
        text-align: center;
    }
    .sponser-title{
        color: var(--dark-01, #131313);
    font-size: 2.82rem;
    font-weight: 700;
    margin-bottom: 24px;
    }
    .sponser-description{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    width: 30%;
    margin: auto;
    }
    .sponsers-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;
        margin-top: 50px;
        margin-bottom: 130px;
    }
    .spotify{
        color: #2EBD59;
        mix-blend-mode: luminosity;
    }



@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        padding: 0px;
    }
    nav a{
       padding: 10px;
    }
    nav li{
        padding: 0px;
    }
    .banner-img{
        width: 320px;
    }
    .features-container{
        flex-direction: column-reverse;
    }
    .features-images-container{
        margin: 0px;
    }
    .features-images{
        flex-direction: column;
        
    }
    .features-description-container{
        margin-left:0px;
        /* margin: 20px 10px 0 50px; */
        padding: 20px 10px 10px 40px;
    }
    .features-description{
        width: auto;
    }
    .facts-title,.facts-description{
        margin-left: 5px;
        width: 100%;

    }
    .succes-container{
        flex-direction: column;
        margin: 0px 50px;
        gap: 15px;
    }
    .fact-card-stats{
      /* padding: 0px 20px 0px 20px ; */
    }
    .sponser-description{
        width: auto;
    }
    .sponsers-container{
        flex-direction: column;
        gap: 50px;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
        padding: 0px;}

        .banner-img{
            width: 700px;
     }
    .features-container{
        flex-direction: column-reverse;
    }
    .features-images-container{
        margin: 0px;
    }
    .features-description-container{
        margin-left: 25px;
    }
    .succes-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .facts-title{
        margin-left: 20px;
    }
    .facts-description{
        margin-left: 20px;
        width: 80%;
    }
    .sponser-description{
        width: 80%;
    }
    .sponsers-container{
        gap: 15px;
    }
}