/* font styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;  
}

/* header related styles */
header{
    background: rgba(255, 144, 14, 0.10);
}
.header-title{
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px;
}
nav > ul{
    display: flex;  
}
nav li{
    list-style: none;
    padding-right: 50px;
    }
nav a{
    text-decoration: none;
    color:#424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-right: 50px;
}
/* banner related style */
.banner-content{
   max-width: 800px;
    text-align: center;
    /* align-items: center; */
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    /* text-align: center; */
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color:#727272;
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.banner-images{
    text-align: center;
    width: 100%;

}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 70px;
    border: none;
    cursor: pointer;
}
/* responsive for media query */
/* mobile devices */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        padding: 0px;
    }
    nav a{
       padding: 10px;
    }
    nav li{
        padding: 0px;
    }
    .banner-img{
        width: 320px;
    }
}

/* tab or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
        padding: 0px;}

        .banner-img{
            width: 700px;
        }
}
/* main section related style */
/* features related style */
.features-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}
.features-images-container{
    margin-left: 300px;

}
.features-images{
    display: flex;
    gap: 15px;
}
/* I have a question */
.features-description-container{
    margin-left: 100px;
    /* padding: 50px; */
}
.features-title{
    color: #727272;
    font-size: 2.82rem;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 2.82rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 2.82rem;
    font-weight: 700;
}
.features-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    width: 70%;
}
@media screen and (max-width:576px) {
   
    .features-container{
        flex-direction: column-reverse;
    }
    .features-images-container{
        margin: 0px;
    }
    /* .width{
        width: 170px;
    } */
    .features-images{
        flex-direction: column;
        
    }
    .features-description-container{
        margin-left:2px;
    }
    .features-description{
        width: auto;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    .features-container{
        flex-direction: column-reverse;
    }
    .features-images-container{
        margin: 0px;
    }
    .features-description-container{
        margin-left: 25px;
    }
}